* {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva;
    transition: background 200ms ease-in, color 200ms ease-in;
}
.light {
    background-color: #ECEFF1;
    color: #37474F;
}
.dark {
    background-color: #222222;
    color: #DEE4E7;
}



a {
    text-decoration: none;
    color: currentColor;
    transform: scale(1);
    transition: ease-in-out 100ms;
    cursor: pointer;
}
a:hover {
    transform: scale(1.2);
}
button {
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
    color: currentColor;

    border: none;
    text-decoration: none;
    cursor: pointer;
}
p {
    margin-top: 10px;
    padding: 5px;
    font-size: 25px;
}
ul {
    padding-left: 40px;
}
ul ul {
    padding-left: 40px;
}




nav {
    height: 4em;
    width: 100%;
    overflow: auto;
    /* background: linear-gradient(90deg, rgba(37,29,171,1) 0%, rgba(74,74,176,1) 46%, rgba(44,191,220,1) 100%); */
    background: radial-gradient(circle at 34.2% 44.3%, rgb(233, 79, 79) 6.5%, rgb(111, 34, 142) 100.2%);

    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    text-align: center;

    z-index: 99;
}
.navbar-elements {
    height: auto;
    width: auto;
    color: white;
    font-size: 1rem;
    margin: 20px;
}






#Home {
    height: 100vh;
    /* background-image: url("https://placehold.co/600x400"); */
    background-image: url("https://onedrive.live.com/embed?resid=8450EE5BC60C80C6%212470&authkey=%21AJpkUHPQNrvN6IM&width=721&height=365");
    background-size: cover;
    display: flex;
    margin-top: 4em;
}

#home-left {
    height: inherit;
    width: 40%;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;

    padding: 0% 7%;
}

#home-right {
    height: inherit;
    width: 60%;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: start;
    font-size: 1.4rem;

    padding: 0% 7%;
}
#home-left,
#home-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.home-btns {
    width: 200px;
    height: 50px;
    font-size: 1.3rem;
    border-radius: 10px;
    background-color: #b2adb4;
    color: black;
    margin: 10px 10px;
    justify-content: space-evenly;
}

#home-left > img {
    display: block;
    border-radius: 10px;
}
#home-right i {
    font-size: 50px;
    /* color: #9e2224; */
    margin-left: 25px;
    margin-top: 25px;
}




/* page1 => about, skills
page2 => projects
page3 => education, MSX */

#page1-main {
    text-align: center;
    padding: 80px 0px 80px 0px;
    margin: 10px;
}
#aboutImage {
    height: 240px;
    border-radius: 5%;
}
#page1-main-text {
    width: 35%;
    text-align: start;
    margin: 10px;
    padding: 10px;
    display: inline-block;
}
#page1-main-media {
    width: 35%;
    text-align: center;
    margin: 10px;
    padding: 10px;
    display: inline-block;
}

.techLogo {
    height: 80px;
    width: auto;
    padding: 5px;
}




#projects {
    padding: 80px 0px 80px 0px;
    margin: 0px 40px;
    justify-content: center;
    text-align: center;
}
.projectCard {
    height: auto;
    width: 30em;
    max-height: 40em;
    max-width: auto;

    border: 2px solid rgb(186, 59, 59);
    border-radius: 15px;
    /* box-shadow:inset 5px 5px 5px rgb(130, 130, 130); */

    margin: 10px;
    padding: 10px;
    display: inline-block;

    transform: scale(1);
    transition: ease-in-out 100ms;
}
.projectCard:hover {
    transform: scale(1.03);
}
.upperCard {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 30px 0px 0px 0px;
}
.lowerCard {
    padding: 0px 30px 30px 30px;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; */
}
.liveButton {
    background-color: rgb(42, 94, 236);
    color: #DEE4E7;
}
.githubButton {
    background-color: rgb(64, 63, 63);
    color: #DEE4E7;
}






#achievements {
    padding: 80px 0px 80px 0px;
    text-align: start;
    margin: 10px;

    justify-content: center;
    text-align: center;
}
.achievementsCard {
    display: flex;
    justify-content: center;
    text-align: center;
}
.achievementsBlock {
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    /* background-color: #f9f9f9; */
    width: 45%;
    max-width: 80%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.achievementsBlock h4 {
    color: #505050;
    text-align: end;
}
.listItems {
    padding-left: 20px;
    text-align: start;
}




footer {
    text-align: center;
    width: 100%;

    color: #fff;    
    background-color: rgb(40, 40, 40);
    padding: 80px 0px;
}
#contact-links-left, #contact-links-right {
    display: inline-flex;
    text-align: start;
    flex-direction: column;
    padding: 10px 50px 0px 50px;
}
#drwho {
    position: fixed;
    bottom: 0px;
    right: 0px;
}
