*{
margin:0;
padding:0;
box-sizing:border-box;
}

/* Theme variables */
:root {
--bg: #ffffff;
--text: #111;
--muted: #555;
--border: rgba(0,0,0,0.05);
--nav-bg: rgba(255,255,255,0.6);
}

[data-theme="dark"] {
--bg: #1a1a1a;
--text: #ffffff;
--muted: #bdbdbd;
--border: rgba(255,255,255,0.08);
--nav-bg: rgba(1a,1a,1a,0.6);
}

#moon-icon {
  display: none;
}

[data-theme="dark"] #sun-icon {
  display: none;
}

[data-theme="dark"] #moon-icon {
  display: block;
}

#theme-toggle{
display:flex;
align-items:center;
justify-content:center;
font-size: 16px;
}

body{
font-family: system-ui, sans-serif;
line-height:1.6;
color:var(--text);
background:var(--bg);
padding-top:80px;

transition:
background-color 0.3s ease,
color 0.3s ease;
}

/* navbar */

nav{
display:flex;
justify-content:space-between;
align-items:center;

position:fixed;
top:0;
left:0;
right:0;

padding:20px;
max-width:720px;
margin:auto;

z-index:1000;

background:var(--nav-bg);
backdrop-filter:blur(10px) saturate(180%);

border-bottom:1px solid var(--border);
}

.nav-btns button,
.logo button{
background:none;
border:none;
cursor:pointer;
font-size:16px;
margin-left:20px;
color:var(--text);
}

/* main content */

#content{
max-width:669px;
margin:auto;
padding:24px;
}

.hero{
display:flex;
margin-bottom:48px;
gap: 48px;
}

.hero .hero-text{
display:flex;
flex-direction:column;
justify-content: center;
align-items: start;
gap: 16px;
}

.profile-img{
width:136px;
border-radius:8%;
}

.contacts{
display:flex;
flex-direction:column;
}

.contacts a{
text-decoration:none;
font-size:14px;
color:var(--text);
}

/* sections */

.section{
margin-top:60px;
}

.section h2{
font-size:20px;
font-weight:500;
margin-bottom:30px;
}

/* experience */

.experience-item{
display:grid;
grid-template-columns:100px 1fr;
column-gap:18px;
row-gap:6px;
align-items:start;
margin-bottom:24px;
}

.experience-dates{
grid-column:1;
grid-row:1;
font-size:13px;
opacity:0.6;
}

.experience-title{
grid-column:2;
grid-row:1;
font-weight:600;
font-size:16px;
}

.experience-item img{
grid-column:1;
grid-row:2 / span 2;
width:80px;
height:80px;
object-fit:contain;
border-radius:6px;
}

.experience-company{
grid-column:2;
grid-row:2;
font-size:14px;
opacity:0.8;
}

.experience-description{
grid-column:2;
font-size:14px;
line-height:1.6;
margin-top:4px;
}

.experience-tools {
grid-column:2;
font-size:13px;
color:var(--muted);
margin-top:4px;
}

.experience-link{
grid-column:2;
font-size:13px;
text-decoration:none;
color:var(--text);
}

.experience-link:hover{
text-decoration:underline;
}

/* Masonry / Bento-like grid */

.projects-grid{
  column-count:2;
  column-gap:32px;
}

.project-card{
  break-inside:avoid;
  margin-bottom:48px;
  display:flex;
  flex-direction:column;
  gap:12px;
}

.project-card img{
  width:100%;
  height:auto;
  object-fit:cover;
  border-radius:8px;
}

.project-card h3{
  font-size:16px;
  font-weight:500;
}

.project-card span{
  text-decoration: none;
  font-size:14px;
  color:var(--muted);
}

.project-card p{
  font-size:14px;
  color:var(--text);
  line-height:1.5;
}

.project-links{
  display:flex;
  gap:16px;
  margin-top:4px;
}

.project-links a{
  font-size:13px;
  text-decoration:none;
  color:var(--text);
  border-bottom:1px dashed var(--text);
}
.project-links a:hover{
  opacity:0.6;
}

/* mobile */
@media (max-width:700px){
  .projects-grid{
    column-count:1;
  }
}


/* footer */
#footer{
max-width:690px;
margin:auto;
padding:24px;
}

.link-list{
display:grid;
grid-template-columns:110px auto;
row-gap:10px;
column-gap:20px;
font-size:14px;
align-items:center;
}

.footer-site{
color:var(--muted);
white-space:nowrap;
}

.footer-username{
color:var(--text);
text-decoration:none;
width:fit-content;
border-bottom:1px dashed transparent;
transition:border-color 0.2s ease;
}

.footer-username:hover{
border-bottom:1px dashed var(--text);
}

/* view transition radial animation */

::view-transition-new(root){
animation:700ms ease-in-out both radial-reveal;
}

::view-transition-old(root){
animation:none;
z-index:-1;
}

@keyframes radial-reveal{
from{
clip-path:circle(0% at var(--x) var(--y));
}
to{
clip-path:circle(160% at var(--x) var(--y));
}
}
